<div id="chat_div">
  <h3>Чат</h3>
  <div class='chat_table'>
  </div>
  <form id='chat_form' class="chat_form">
    <textarea rows="4" class='new_message'></textarea>
    <div>
      <button type='submit' class='btn btn-small btn-warning send_message'>Отправить</button>
    </div>
  </form>
</div>
