<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="/css/codemirror.css">
  <script src="/scripts/js/codemirror.js"></script>
  <script src="/scripts/js/codemirror-compressed.js"></script>
  <script src="/scripts/js/searchcursor.js"></script>
  <style type="text/css">
      .CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}
      .cm-s-default span.cm-arrow { color: red; }
  </style>
  <link rel="stylesheet" href="/css/docs.css">
</head>
<body>

<div>
  <%= erb :room %>
</div>
<script type="text/javascript" src='/scripts/coffee/room.coffee'></script>
<script type="text/javascript" src='/scripts/coffee/web_socket_client.coffee'></script>
<script type="text/javascript" src='/scripts/coffee/chat.coffee'></script>
<script type="text/javascript" src='/scripts/coffee/info_bar.coffee'></script>
<script type="text/javascript" src='/scripts/js/diff_match_patch.js'></script>
<script type="text/javascript" src='/scripts/coffee/text_editor.coffee'></script>
<script type="text/javascript">
    $(function(){
        new Room('ws:192.168.1.2:8080', $('#room_id').html(), $('#user_id').html())
    })
</script>
</body>
</html>