<div id="info_bar_div"></div>
<div>
  <div>
    <div>
      <%= erb :text_editor %>
    </div>
    <%= erb :chat %>
  </div>
</div>

<div class="hidden">
  <div style="display: none;">
    <span id="room_id">room_1</span>
    <span id="user_id"><%= "user_#{rand(100)}" %></span>
  </div>
</div>